<a href="https://colab.research.google.com/github/AC8151/COG_INTERNSHIP_GN22CDBDS001/blob/main/Assessment1_Getting_%26_Knowing_your_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**ASSESSMENT- Getting and Knowing your Data**
> **Submitted By - Aditi Chatterjee**

## Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

## Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

## Step 3. Assign it to a variable called users and use the 'user_id' as index

In [2]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
users.head()
# OBSERVATION: In the dataset, the columns are joined using '|', thus a separator used (sep)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [3]:
users.set_index('user_id', drop=True, inplace=True)
users.head()
# OBSERVATION: Set 'user_id' as the index of users

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Step 4. See the first 25 entries

In [4]:
users.head(25)
# OBSERVATION: head() used to view top data

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [5]:
users.tail(10)
# OBSERVATION: tail() used to view bottom data

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [6]:
users.shape[0]
# OBSERVATION: 943 ROWS(DATA)

943

### Step 7. What is the number of columns in the dataset?

In [7]:
users.shape[1]
#OBSERVATION: 4 COLUMNS(ATTRIBUTES)

4

### Step 8. Print the name of all the columns.

In [8]:
list(users.columns)
#OBSERVATION: Name of 4 columns displayed

['age', 'gender', 'occupation', 'zip_code']

### Step 9. How is the dataset indexed?

In [9]:
users.index
#OBSERVATION: Index is of type Int64, with unique values in range 1-943

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [10]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [11]:
users[['occupation']]
#OBSERVATION: occupation column only printed

            occupation
user_id
1           technician
2                other
3               writer
4           technician
5                other
...                ...
939            student
940      administrator
941            student
942          librarian
943            student

[943 rows x 1 columns]

### Step 12. How many different occupations are in this dataset?

In [12]:
list(users.occupation.unique())
#OBSERVATION: Listed are the various occupations in the occupation column

['technician',
 'other',
 'writer',
 'executive',
 'administrator',
 'student',
 'lawyer',
 'educator',
 'scientist',
 'entertainment',
 'programmer',
 'librarian',
 'homemaker',
 'artist',
 'engineer',
 'marketing',
 'none',
 'healthcare',
 'retired',
 'salesman',
 'doctor']

In [13]:
users.occupation.unique().size
#OBSERVATION: Total number of occupations

21

### Step 13. What is the most frequent occupation?

In [14]:
oc_count = users.occupation.value_counts().sort_values(ascending=False)
oc_count
#OBSERVATION: occupation grouped by their count in occupaation column

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [15]:
oc_count.idxmax()
#OBSERVATION: Most frequent occupation is 'student'

'student'

### Step 14. Summarize the DataFrame.

In [16]:
users.describe()
# OBSERVATION: 'age' column is the only numeric column, thus describe by default includes only age

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Step 15. Summarize all the columns

In [17]:
users.describe(include='all')
# OBSERVATION:
# 1. *age* is an *Int64* column, thus characteristics unique, top, freq aren't applicable
# 2. *gender, occupation, zip_code* are of type *object*, thus central tendencies, quartiles, and min-max aren't applicable

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 16. Summarize only the occupation column

In [18]:
users['occupation'].describe()
# OBSERVATION: Summary of 'occupation' column only

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [19]:
users['age'].mean()
# OBSERVATION: Mean age displayed

34.05196182396607

### Step 18. What is the age with least occurrence?

In [20]:
age_count = users.age.value_counts()
age_count.tail(10)
# OBSERVATION: Count of each value in 'age' is placed in age_count

70    3
62    2
68    2
64    2
69    2
7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64

In [21]:
age_count.tail(5)
# OBSERVATION: Age(s) with least occurance are ages 7, 66, 11, 10 and 73

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64

##Step 19. Write a lambda function to convert a string column to a numerical column

In [22]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [23]:
gender_dict = {'M':1, 'F':2} # Creating a dictionary with each gender assigned to a numeric value

In [24]:
str_to_num = lambda s : gender_dict[s] # Converts the string (dict key) into corresponding numeric (dict value)

In [25]:
users['gender'] = users['gender'].apply(str_to_num) # Lambda function tested on 'gender' column
users['gender']

user_id
1      1
2      2
3      1
4      1
5      2
      ..
939    2
940    1
941    1
942    2
943    1
Name: gender, Length: 943, dtype: int64

In [26]:
users.head()
# OBSERVATION: The lambda function succesfully changes the string column 'age' into integer (Int64) column

         age  gender  occupation zip_code
user_id
1         24       1  technician    85711
2         53       2       other    94043
3         23       1      writer    32067
4         24       1  technician    43537
5         33       2       other    15213

#  ***THE END***